//App
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
//Header
.headerContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #0082ca;
  .right {
    .headerImg {
      height: 5rem;
      width: 5rem;
      border-radius: 5rem;
    }
  }
}
//Route Planner Container
.RoutePlannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
  
  .todayStopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;

    .todayStopTitle {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .inputContainer {
    width: 25rem;
  }

  .legContainer {
    background-color: white;
    height: 100vh;
    
  }
}
// LegCard
.legCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #000000;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  .checkArrowContainer {
    display: flex;
    justify-content: flex-end;
  }
  //this is meant for the step counter on the top (WITH THE CHECK LABEL) of the card that is why it is an id
  #infoContainerFirst {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .checkButton {
      opacity: .8;
    }
    .checkButton:hover {
      cursor: pointer;
      color: green;
    }
  }
  //this is meant for all sub categories of the trip thats wjhy it is a class
  .infoContainer {
    .label {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
// Footer Container
.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363839;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .copyrightContainer {
    color: #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
    width: 33%;
    .copyrightText {
      width: 40%;
      font-size: 0.7rem;
    }
  }

  .footerLogoContainer {
    display: flex;
  }
  .contactItemsContainer {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    padding-right: 1rem;
    .contactItemsList {
      list-style-type: none;
      display: flex;
      * {
        color: #bfbfbf;
        text-decoration: none;
        font-weight: bold;
        padding: 0.1rem;
      }
    }
  }
}
