//App
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bodyContainer {
    display: flex;
    justify-content: space-evenly;
  }
}
//Header
.headerContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #0082ca;
  color: white;
  .right {
    .headerImg {
      height: 5rem;
      width: 5rem;
      border-radius: 5rem;
      color: white;
    }
  }
}
//Route Planner Container
.routePlannerContainer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  padding-top: 3rem;
  padding-bottom: 10rem;

  .legWrapperContainer {
    width: 20rem;
    .destinationHeader {
      display: flex;
      .iconWrapper {
        margin-right: 0.5rem;
      }
    }
    .card {
      margin: 1rem;
      box-shadow: 5px 5px 15px 5px grey;
    }
    .legContainer {
      background-color: white;
      height: 100vh;
    }
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .todayStopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;

    .todayStopTitle {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .inputContainer {
    width: 25rem;
  }
}

// Footer Container
.footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363839;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .copyrightContainer {
    color: #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
    width: 33%;
    .copyrightText {
      width: 40%;
      font-size: 0.7rem;
    }
  }

  .footerLogoContainer {
    display: flex;
    .footerImg {
      color: white;
      height: 3rem;
      width: 3rem;
    }
  }
  .contactItemsContainer {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    padding-right: 1rem;
    .contactItemsList {
      list-style-type: none;
      display: flex;
      * {
        color: #bfbfbf;
        text-decoration: none;
        font-weight: bold;
        padding: 0.1rem;
      }
    }
  }
}
