.App {
  text-align: center;
}

.headerContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #0082ca;
  .right {
    .headerImg {
      height: 5rem;
      width: 5rem;
      border-radius: 5rem;
    }
  }
}

.RoutePlannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   * {
     width: 18rem;
     margin: 1rem;
     padding: .5rem;
   }
}

